# Python
__pycache__/
*.pyc
*.egg-info/

# Notebook
.ipynb_checkpoints/

# logs and models
*.log
*.pkl
*.hdf5
*.pt
*.ckpt
*.pdf
*.json
*.npy

# env
.env
.env/
venv/

# IDE
.vscode/
.idea/

# data and checkpoints
dataset/
checkpoint/

.DS_Store
.neptune/
wandb/

# other
vis.ipynb
basicutility/train_script.py
basicutility/slicetools.py
UnconditionalDiffusionTraining_and_Generation/output/
surgin_pretrained_data.tar.gz

# old src directory (moved to Surrogate/)
/src/

# conditional generation
ConditionalDiffusionGeneration/inference_scripts/Case/Generation/conditional_outputs/
ConditionalDiffusionGeneration/inference_scripts/Case/Generation/*
!ConditionalDiffusionGeneration/inference_scripts/Case/Generation/Cartesian_inverse_sparse.ipynb
!ConditionalDiffusionGeneration/inference_scripts/Case/Generation/Vertical_inverse_3wells_injection.ipynb
